:root
{
	--bg-primary: #ffd;
	--width-global: 960px;
}

*,
*::before,
*::after
{
	box-sizing: border-box;
}


/* General styling */
body
{
	margin: 0;
	padding: 0;
	background-color: var(--bg-primary);
	font-family: Calibri;
}
h1
{
	position: absolute;
	top: -100vw;
}
#slider
{
	position: relative;
	top: 60px;
}
.base
{
	width: var(--width-global);
	min-height: 360px;
	margin-inline: auto;
	position: relative;
}
section
{
	min-height: 360px;
}

/*
section
{
	min-height: 360px;
	margin: 0 -10px 0 -10px;
}
section:nth-child(even albo odd albo inna opcja)
{
	min-height: 360px; margin: 0 -10px 0 -10px;
	background-color: ; <---(dla innego czy coś)
}
*/

	

/* Primary horizontal navigation */
.primary-nav-horizontal
{
	background-color: #ddddff99;
	width: var(--width-global);
	height: 50px;
	position: fixed;
	z-index: 10;
	display: flex;
}
.primary-nav-horizontal a
{
	width: 96px;
	height: 50px;
	margin: 5px 0;
	background-color: #8888ff99;
	border-right: 1px solid #0000ff99;
	text-align: center;
	margin-top: auto;
	padding-top: 17px;
	text-decoration: none;
}
.primary-nav-horizontal a:hover
{
	background-color: #ddd;
	font-size: 14pt;
	text-decoration: underline;
}
.primary-nav-horizontal a:last-child
{
	border-right: 1px solid #ffffff00;
}


/* First section */
.first-section
{
}
.first-section .aside-navigation
{
	width: 50px;
	height: 125px;
	position: fixed;
	margin-left: 970px;
	z-index: 11;
	margin-top: 10px;
}
.first-section .aside-navigation img
{
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
}


/* Second section */
.second-section
{
	background-color: #5f5;
	min-height: 360px;
	margin: 0 -10px 0 -10px;
}

article 
{
	text-align: justify;
}
h3
{
	text-align: center;
}

.second-section article
{
	width: 291px;
	min-height: 295px;
	background-color: #4444ff99;
	position: relative;
	float: left;
	margin-right: 9px;
	margin-left: 9px;
	padding: 5px;
	color: #55555599;
}
.second-section article:hover
{
	color: #000;
}
/* third section */
.third article
{
	width: 291px;
	min-height: 295px;
	background-color: #4444ff;
	position: relative;
	float: left;
	margin-right: 9px;
	margin-left: 9px;
	padding: 5px;
	color: #000;
	opacity: 0.5;
}

.third article:hover
{
	background-color: #4444ff; opacity: 1;
}

/* fourth section */

.fourth
{
	background-color: #ccddff;
	height: 360px;
	margin: 0 -10px 0 -10px;
}

.fourth article
{
	width: 182px;
	height: 142px;
	_background-color: #4444ff99;
	position: relative;
	float: left;
	padding: 5px;
}

.fourth article:nth-child(even) 
{
	background-color: #123456;
	color: #fff;
}
.fourth article:nth-child(odd)
{
	background-color: #abcdef;
	color: #444;
}
.fourth article:nth-child(7)
{
	background-color: #fff;
	color: #444;
}


.fifth
{
	margin-top: 500px;
}

.sixth
{
	background-color: #79f;
	min-height: 360px;
	margin: 0 -10px 0 -10px;
}

.sixth article
{
	width: 30%;
	min-height: 160px;
	float: right;
	margin-right: 9px;
	margin-left: 9px;
	padding: 5px;
	color: #000;
	background-color: #44ffaa;
	background-image: -webkit-linear-gradient(left, black, white);
	background-image: -moz-linear-gradient(left, black, white);
	/*background-image: -ms-linear-gradient(left, black, white); IE
	background-image: -o-linear-gradient(left, black, white); Opera*/
	background-image: -linear-gradient(left, black, white);
}
.sixth h4
{
	height: 35px;
	border: 1px solid #0000ff;
	overflow: hidden;
	background-color: #ccbbff;
	background-image: -webkit-linear-gradient(90deg, rgb(12,0,36), rgb(148, 160,252), rgb(248, 160, 252));
	background-image: -moz-linear-gradient(90deg, rgb(12,124,36), rgb(148, 160,252), rgb(248, 160, 252));
	background-image: -linear-gradient(90deg, rgb(12,124,36), rgb(148, 160,252), rgb(248, 160, 252));
}

.sixth span
{
	display: block;
	height: 95px;
	overflow: hidden;
	background-color: #3b9afe;
	background-image: -webkit-linear-gradient(225deg, green 5%, yellow 10%);
	background-image: -linear-gradient(225deg, green 5%, yellow 50%);
}

.sixth p
{
	margin: 10px 0 0 0;
	height: 75px;
	width: 480px;
	float: left;
	background-color: #de56ed;
	background-image: -webkit-repeating-linear-gradient(225deg, green 5%, yellow 10%);
	background-image: -linear-repeating-gradient(225deg, green 5%, yellow 50%);
}

.sixth p:last-of-type
{
	background-image: -webkit-repeating-linear-gradient(225deg, green 0px, green 10px, yellow 10px, yellow 20px, blue 20px, blue 30px);
	background-image: -repeating-linear-gradient(225deg, green 0px, green 10px, yellow 10px, yellow 20px, blue 20px, blue 30px);
}

.sixth div.graduent
{
	margin: 10px 0 0 0;
	height: 750px;
	width: 960px;
	float: right;
	background-color: #ff56ed;
	background-image: -webkit-repeating-radial-gradient(circle, black 0px, black 10px, white 10px, white 20px, black 20px, black 30px);
	background-image: -repeating-radial-gradient(circle, black 0px, black 10px, white 10px, white 20px, black 20px, black 30px);
}


